.home{
  height: 500px;
  width: 500px;
  position: relative;
  top: 50%;
  left: 30%;
  margin-top: 100px;
  background-color: rgba(211, 82, 82, 0.5);
  font-size: 20px;
  font-weight: bold;
}

.contact{
  height: 500px;
  width: 500px;
  position: relative;
  top: 50%;
  left: 30%;
  margin-top: 100px;
  background-color: rgba(79, 81, 218, 0.5);
  font-size: 20px;
  font-weight: bold;
}


.about{
  height: 500px;
  width: 500px;
  position: relative;
  top: 50%;
  left: 30%;
  margin-top: 100px;
  background-color: rgba(87, 233, 68, 0.5);
  font-size: 20px;
  font-weight: bold;
}